<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{{ title }}}</title>
  <link rel="stylesheet" href="/build/stories.css">
  <link rel="icon" href="/images/1x/favicon-s-{{ theme }}.png" type="image/png">
</head>

<body class="theme_{{ theme }}">
  <script src="/build/stories.js"></script>
  <script>
    const slide = {
      alias: '{{{ alias }}}',
      data: {{{ data }}},
    };
    document.body.innerHTML = renderTemplate(slide.alias, slide.data);
  </script>
</body>
</html>
