@use 'sass:map';
@use './screens.scss';

@function portrait($screen) {
  @return '(orientation: portrait) and (min-width: #{map.get($screen, "width")})';
}

@function landscape($screen) {
  $property: null;
  @if map.get($screen, "height") < map.get($screen, "width") {
    $property: "width";
  } @else {
    $property: "height"
  }
  @return '(orientation: landscape) and (min-width: #{map.get($screen, $property)})';
}
